/* Global */

body {
    position: relative;
    z-index: -2;
    font-family: Open Sans, Calibri, sans-serif;
    color: #333;
    overflow: visible;
}

h1 {
    color: #ddd;
    margin: 0;
}

h2 {
    color: #cc8b00;
    margin: 0;
}

h3 {
    color: #484a50;
    margin: 0;
}

h4 {
    color: #eead2d;
    margin: 0;
}

h5 {
    color: #fff;
    margin: 0;
}

i.fa {
    margin-right: 0.25em;
}

section {
    padding-top: 2em;
}

:root {
    --animate-duration: 1s;
}


/* Header */

header .bgMenu {
    height: 80px;
    background-color: #eead2d;
}

header .linkMenu {
    padding: 22px 1.2em 24px .8em;
    font-size: 1.5em;
    color: #cc8b00;
}

header .linkMenu:hover {
    color: #fff;
}


/* Main */

.sectionHome {
    background-color: #484a50;
    padding-bottom: 10em;
}

.figureProfile img {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 360px;
}

.infoPerson p:before {
    position: absolute;
    left: -1.5em;
}

.infoPerson h2 {
    margin-bottom: 0.5em;
}

.infoPerson h5 {
    color: #ddd;
    font-weight: 300;
    position: relative;
    justify-content: left;
    margin: 0.5em;
}


/* Resumo */

.sectionResumo {
    background-color: #878787;
    color: #fff;
}

.sectionResumo h2 {
    color: #eead2d;
    margin-bottom: 1em;
}

.sectionResumo .linha {
    background-color: #eead2d;
    margin: 0.5em 0 0.5em 0;
}


/* Experiencia */

.sectionExperiencia {
    height: 900px;
    color: #878787;
}

.sectionExperiencia h2 {
    color: #cc8b00;
    margin-bottom: 1em;
}

.figureCompany {
    display: inline-block;
}

.figureCompany .img-thumbnail {
    max-width: 50%;
    background-color: inherit;
    border: none;
}

.infoExperience {
    padding: 0 1em 0 1em;
    text-align: center;
}

.periodoCompany {
    margin-bottom: 1.5em;
}

.infoExperience ul>li {
    text-align: left;
}


/* Footer */

footer>div {
    background-color: #eee;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    top: inherit;
    height: 120px;
    bottom: 0;
    width: 100%;
}

footer ul {
    margin: 25px 0;
    text-align: center;
}

footer .titleFooter {
    display: block;
    margin-bottom: 5px;
}

footer li {
    display: inline-block;
    margin: 0 12px;
    text-align: center;
    vertical-align: bottom;
}

footer li a {
    color: #333;
    font-size: 28px !important;
    transition: .25s;
    text-decoration: none;
}

footer ul.devTools {
    float: left;
}

footer ul.share {
    float: right;
}