/* Global */

body {
    position: relative;
    z-index: -2;
    font-family: Open Sans, Calibri, sans-serif;
    color: #333;
    overflow: visible;
}

h1 {
    color: #ddd;
    margin: 0;
}

h2 {
    color: #eead2d;
    margin: 0;
}

.infoPerson p {
    color: #ddd;
    font-weight: 300;
    text-align: left;
    margin: .25em auto;
    position: relative;
    width: 200px;
    left: 12px;
}

a i.fa {
    margin-right: 0.25em;
}

section {
    padding-top: 3em;
}

:root {
    --animate-duration: 1s;
}


/* Header */

header .bgMenu {
    height: 80px;
    background-color: #eead2d;
}

header .linkMenu {
    padding: 22px 1.2em 24px .8em;
    font-size: 1.5em;
    color: #cc8b00;
}

header .linkMenu:hover {
    color: #fff;
}


/* Main */

.main {
    background-color: #484a50;
    height: 700px;
}

.figureProfile img {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 360px;
}

.infoPerson p:before {
    position: absolute;
    left: -1.5em;
}

.infoPerson h2 {
    margin-bottom: 0.5em;
}